<table class="table">
  <tr>
    <td>
     Trip Name: <%= @trip.name %>
    </td>
    <td>
      Calculated Trip Time (minutes): <%= @trip.travel_time %>
    </td>

    <td>
      Party Persisted?: <%= @trip.persist_party %>
    </td>
  </tr>
  <tr>
    <td>
      Travelers
    </td>
    <td>
      <table>
        <% @trip.travelers.each do |t|%>
          <tr>
            <td>
              Name:  <%= t.name %>
            </td>
          </tr>
          <tr>
            <td>
              Speed (ft/min): <%= t.speed %>
            </td>
          </tr>
        <% end %>
      </table>
    </td>
  </tr>
  <% @trip.bridges.each do |b|%>
    <tr>
      <td>
        Bridge Number:  <%= b.id %>
      </td>
      <td>
        Bridge Length (ft):  <%= b.length %>
      </td>
      <td>
        <table>
        <% b.travelers.each do |t|%>
          <tr>
            <td>
              Bridge Traveler Name:  <%= t.name %>
            </td>
          </tr>
          <tr>
            <td>
              Bridge Traveler Speed (ft/min): <%= t.speed %>
            </td>
          </tr>
        <% end %>
        </table>
      </td>
    </tr>
  <% end %>
</table>

<%= link_to 'Back', trips_path %>